python-dotenv==1.0.1
loguru~=0.7.2
xmltodict~=0.14.2
fastapi[standard]~=0.115.4
uvicorn~=0.32.0
FindMyIP~=1.2.0
SQLAlchemy~=2.0.36
pydantic~=2.10.3
sqlalchemy
fastapi-utils

# Testing
pytest
pytest-mock
pytest-cov
httpx