.formfield-help {
  font-size: 0.8em !important;
  color: #888 !important;
}

/*
  * Custom class for the react-icons that are wrapped by a provider
  */
.react-icon-button {
  display: inline-block;
  font-size: 1em;

  /* Center the icon */
  display: flex;
  justify-content: center;
  align-items: center;
}
